  *{
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, "arial";
    scroll-behavior: smooth;
}

li{
  list-style: none;
}
  
  .content {
    height: 100%;
    background-color: #f3f6fc;
    position: absolute;
    right: 0;
    width: calc(100% - 250px);

  }
  