  *{
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, "arial";
    scroll-behavior: smooth;
    overflow-y: none;
}

body{
  background-color: #f3f6fc;
}

li{
  list-style: none;
}

.hide-sidebar .show_links{
  display: none;
}
  
  .content {
    transition: width 0.3s ease;
    background-color: #f3f6fc;
    position: absolute;
    right: 0;
    padding-top: 100px;
    width: calc(100% - 250px);
  }

  .content1{
    transition: width 0.3s ease;
    width: calc(100% - 70px);
  }
  
  .dashboard-table {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px; 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin: 0 40px;
    margin-bottom: 10px;
    /* position: fixed; */
    /* width: calc(100% - 330px); */
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
    overflow-y: scroll;
    /* background-color: red; */
  }
  
  th{
    color: #333;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }