  *{
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, "arial";
    scroll-behavior: smooth;
    overflow-y: none;
}

.dashboard{
  margin: 0 40px;
  background-color: #fff;
}

body{
  background-color: #f3f6fc;
}

li{
  list-style: none;
}

.hide-sidebar .show_links{
  display: none;
}
  
  .content {
    transition: width 0.3s ease;
    background-color: #f3f6fc;
    position: absolute;
    right: 0;
    padding-top: 100px;
    width: calc(100% - 250px);
  }

  .content1{
    transition: width 0.3s ease;
    width: calc(100% - 70px);
  }
  
  .dashboard-table {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px; 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin: 0 40px;
    margin-bottom: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
    overflow-y: scroll;
  }
  
  th{
    color: #333;
    text-align: center;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  

.order_status{
  border-radius: 5px;
  font-weight: 500;
  text-align: center;
  padding: 5px;
}


.delivered {
  color: green;
  background-color: rgb(151, 226, 176);
}

.pending {
  color: rgb(161, 161, 13);
  background-color: rgb(240, 240, 181);
}

.cancelled {
  background-color: rgb(243, 198, 198);
  color: #f75353;
}

.select_status{
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
  padding: 10px 0;
  display: none;
}

.status .select_status{
  display: block;
  position: absolute;
  margin-bottom: 150px;
  margin-right: 100px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.accept_icon{
  color: #00FF00;
}

.link_icon{
  font-size: 24px;
  margin-right: 10px;
}

.reject_icon{
  color: #FF0000;
}

.view_icon{
  color: #0000FF;
  rotate: 180deg;
}

.link_status{
  padding: 5px;
  font-size: 16px;
  width: 100%;
  display: flex;
}

.link_status:hover{
  background-color: #d0fafa;
  color: #333;
}

.set_status{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1); */
  
}

.viewIcon{
  width: 20px;
  margin-right: 5px;
}

.status_icon{
  cursor: pointer;
  margin-top: 10px;
  font-size: 24px;
}