

.order_status{
  border-radius: 5px;
  font-weight: 500;
  text-align: center;
  padding: 5px;
}


.delivered {
  color: green;
  background-color: rgb(151, 226, 176);
}

.pending {
  color: rgb(161, 161, 13);
  background-color: rgb(240, 240, 181);
}

.cancelled {
  background-color: rgb(243, 198, 198);
  color: #f75353;
}

.select_status{
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
  padding: 10px 0;
  display: none;
}

.status .select_status{
  display: block;
  position: absolute;
  margin-bottom: 150px;
  margin-right: 100px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.accept_icon{
  color: #00FF00;
}

.link_icon{
  font-size: 24px;
  margin-right: 10px;
}

.reject_icon{
  color: #FF0000;
}

.view_icon{
  color: #0000FF;
  rotate: 180deg;
}

.link_status{
  padding: 5px;
  font-size: 16px;
  width: 100%;
  display: flex;
}

.link_status:hover{
  background-color: #d0fafa;
  color: #333;
}

.set_status{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1); */
  
}

.viewIcon{
  width: 20px;
  margin-right: 5px;
}

.status_icon{
  cursor: pointer;
  margin-top: 10px;
  font-size: 24px;
}

.dashboard__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  
  .cards {
    width: calc(25% - 40px);
    height: 120px;
    background-color: #00BCD4;
    padding: 20px;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .card-icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1fafa;
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }

  .card__img{
    width: 40px;
  }
  
  .icon {
    font-size: 30px;
    color:  #2B2A4C;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: 600;
    color:  #2B2A4C;
  }
  
  .total {
    font-size: 22px;
    font-weight: 700;
    color:  #2B2A4C;
  }

.table-title{
  font-size: 24px;
}

 @media screen and (max-width: 968px){
  .cards{
    width: calc(50% - 40px);
  }
 }