.nav__dashboard{
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  box-shadow: 0 26px 50px 0px rgba(0,0,0,0.1);
}

.viewIcon{
  width: 20px;
  margin-right: 5px;
}

.edit-btn{
  background-color: red;
}

.nav__title, .nav__time{
  font-size: 24px;
  color: #27374D;
}

.nav__time{
  font-size: 14px;
}

.nav__title{
  margin-bottom: 5px;
}

.search{
  display: flex;
  width: 50%;
}

input{
  width: 100%;
  padding: 10px;
  margin-right: 60px;
  border: none;
  background-color: #f3f6fc;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

input::placeholder{
  font-size: 16px;
}
input:focus{
  outline: none;
  font-size: 16px;
}

.search__icon{
  right: 130px;
  position: absolute;
}

.nav__icon{
  font-size: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: rgb(85, 82, 82);
}

.notification__icon{
  background-color: #00BCD4;
  border-radius: 50%;
  color: #ffffff;
}

.dashboard__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .cards {
    width: calc(25% - 40px);

    height: 120px;
    background-color: #00BCD4;
    padding: 20px;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .card-icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1fafa;
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }

  .card__img{
    width: 40px;
  }
  
  .icon {
    font-size: 30px;
    color:  #2B2A4C;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: 600;
    color:  #2B2A4C;
  }
  
  .total {
    font-size: 22px;
    font-weight: 700;
    color:  #2B2A4C;
  }

.table-title{
  font-size: 24px;
}

 @media screen and (max-width: 968px){
  .cards{
    width: calc(50% - 40px);
  }
 }