.products__title{
    font-size: 24px;
    color: #27374D;
    margin: 40px 0 40px 40px;
}

th:last-child{
    text-align: center;
}

.product__options{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .dropdown{
    margin-right: 40px;
} */

.dropdown select{
    padding: 7px 20px;
    border: 1px solid #fde4e4;
    border-radius: 5px;
    cursor: pointer;
}

.product_img{
    width: 50px;
}

.dropdown select:focus{
    outline: none;
}

.dropdown:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-dialog {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

.add__product--btn{
    outline: none;
    margin: 0 40px;
    font-size: 1rem;
    border-radius: 6px;
} 

  .save__btn {
    float: right;
  }
  

.table__icon{
    text-align: center;
}
.tbl__icon--edit, .tbl__icon--delete{
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle; 
}

.edit-btn{
    background-color: white;
    /* border: 1px solid #ccc; */
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 0px;
    width: 100%;
    color: #333;
  }

.edit-btn:hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.delete-btn{
    width: 100%;
    padding: 5px 0px;
    border-radius: 6px;
    background: #fcc7c7;
    color: rgb(247, 62, 62);
    border: none;
}

.delete-btn:hover{
    box-shadow: 0 0 4px rgba(247, 62, 62, 0.8);
}
  