@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&family=Roboto&display=swap');

body{
    background-color: #fff;
}

.hide__sidebar{
  width: 70px !important; 
  transition: width 0.3s ease;
}
.hide-sidebar  .links:hover a {
  color: #fc7474;
}
.hide-sidebar  .links:hover {
  background-color: #fff;
}


ul li:last-child {
    position: absolute;
    bottom: 50px;
    width: calc(100% - 20px);
}

.sidebar-context{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 20px 0 28px 0;
}

.sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    background-color:  #fff;
    /* box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.1); */

}

.icons {
    font-size: 20px;
    margin-right: 10px;
    transform: scale(1.05);
    vertical-align: middle; 
  }

  .sidebar-links{
    padding: 20px 0;
  }

.links {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: -20px;
    padding: 10px;
    border-radius: 50px;
  }
  
  .links:hover {
    background-color: #fc7474;
  }
  
  .links:hover a {
    color: #fff;
  }
  
  a {
    color: rgb(54, 42, 42);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  